<div th:fragment="topRow(result)" th:id="${result.getGAV()}" class="top">
    <div class="flex-row">
        <div class="topRowItem">
            <p th:text="${result.groupId}"/>
        </div>
        <div class="topRowItem">
            <p th:text="${result.artifactId}"/>
        </div>
        <div class="topRowItem">
            <p th:text="${result.version}"/>
        </div>
        <div class="topRowItem">
            <p class="show-more">
                Show More
            </p>
        </div>
    </div>
    <div class="bottom"
         th:replace="fragments/dataDisplay :: bottomRow (${result.getDependencies().size() > 0 ? result.getDependencies().get(0).getDependency() : result.getParent()}, ${result.getDependencies().size() == 0 })"></div>
</div>

<div class="bottom" th:fragment="bottomRow(result, isParent)">
    <div class="flex-row" th:classappend="${isParent}? parent : none">
        <p th:text="${result.groupId}"/>
        <p th:text="${result.artifactId}"/>
        <p th:text="${result.version}"/>
        <p></p>
    </div>
    <div th:if="${result.getDependencies().size() > 0}">
        <div class="bottom"
             th:replace="fragments/dataDisplay :: bottomRow (
             ${result.getDependencies().size() > 0 ?
             result.getDependencies().get(0).getDependency()
             : result.getParent()},
             ${result.getDependencies().size() == 0 })">
        </div>
    </div>
</div>