<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <header th:replace="fragments/general.html :: my_header"></header>
    <div class="main">
        <div class="data">
            <table>
                <thead>
                <tr>
                    <th>Group-ID</th>
                    <th>Artifact-ID</th>
                    <th>Version</th>
                    <th>Dependencies</th>
                </tr>
                </thead>
                <tbody th:each="artifact: ${artifacts}">
                <tr>
                    <td th:text="${artifact.groupId}"/>
                    <td th:text="${artifact.artifactId}"/>
                    <td th:text="${artifact.version}"/>
                    <td class="center">
                        <a class="arrow" th:href="@{|/ui/dependencies/search?groupId=${artifact.groupId}&artifactId=${artifact.artifactId}&version=${artifact.version}|}">&raquo</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="sidebar">
            <h2>Artifact-Search</h2>
            <hr/>
            <form action="#" th:action="@{/ui/artifacts/search}">
                <label for="groupId">Group ID</label>
                <input type="text" id="groupId" th:name="groupId" placeholder="com.example"/>

                <label for="artefactId">Artefact ID</label>
                <input type="text" id="artefactId" th:name="artefactId" placeholder="example"/>

                <label for="version">Version</label>
                <input type="text" id="version" th:name="version" placeholder="1.0.0"/>

                <div class="formGroup">
                    <input type="checkbox" id="showLatest" th:name="showLatest" placeholder="false"/>
                    <label for="showLatest">Show only latest version</label>
                </div>

                <input type="submit" value="Start Search">
            </form>
        </div>
    </div>
</div>
</body>
</html>