<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <header th:replace="fragments/general.html :: header"></header>
    <div class="main">
        <div class="data">
            <div class="flex-row">
                <p>Group-ID</p>
                <p>Artifact-ID</p>
                <p>Version</p>
                <p>Show More</p>
            </div>
            <hr>
            <div class="data-rows">
                <div th:each="result: ${results}" th:insert="fragments/dataDisplay :: topRow(${result})"></div>
            </div>
        </div>
        <div class="sidebar">
            <h2>Dependency-Search</h2>
            <hr/>
            <form action="#" th:action="@{/ui/dependencies/search}">
                <label for="groupId">Group ID</label>
                <input type="text" id="groupId" th:name="groupId" placeholder="com.example"/>

                <label for="artifactId">Artifact ID</label>
                <input type="text" id="artifactId" th:name="artifactId" placeholder="example"/>

                <label for="version">Version</label>
                <input type="text" id="version" th:name="version" placeholder="1.0.0"/>

                <label for="scope">Scope</label>
                <input type="text" id="scope" th:name="scope" placeholder="compile"/>

                <label for="artifactFilter">Artifact-Filter</label>
                <input type="text" id="artifactFilter" th:name="artifactFilter" placeholder=""/>

                <div class="formGroup">
                    <input type="checkbox" id="direct" th:name="direct" placeholder="false"/>
                    <label for="direct">Show only direct Dependencies</label>
                </div>

                <input type="submit" value="Start Search">
            </form>
        </div>
    </div>
</div>
<script>
    let topRows = document.getElementsByClassName("top");


    let even = false;

    for (let topRow of topRows) {
        const showMoreButton = topRow.getElementsByClassName("show-more").item(0);
        const bottomRow = topRow.getElementsByClassName("bottom").item(0);

        if (even) {
            topRow.classList.add("even-row")
        }
        even = !even

        bottomRow.classList.add("hide")

        showMoreButton.addEventListener('click', function () {
            if (bottomRow.classList.contains("hide")) {
                showMoreButton.textContent = "Show Less"
                bottomRow.classList.remove("hide")
            } else {
                showMoreButton.textContent = "Show More"
                bottomRow.classList.add("hide")
            }

        })
    }
</script>
</body>
</html>